:root {
  --lettuce: #b5ffe1;
  --leaf: #93e5ab;
  --grass: #65b891;
  --guava: #4e878c;
  --spinach: #00241b;
}

main {
  /* background: linear-gradient(to bottom, #b5ffe1, #4e878c); */
  background-color: var(--guava);
}
.header {
  background-color: var(--leaf);
  color: var(--spinach);
  height: 120px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
  top: -50px;
  margin: 10px;
}

.nav {
  color: var(--guava);
  margin: 5px;
  font-size: 1.3em;
}

#logo {
  width: 190px;
}

button {
  background-color: var(--guava);
  color: var(--leaf);
  width: 200px;
  height: 40px;
  margin: 15px;
}

button:hover {
  background-color: var(--grass);
  color: var(--spinach);
}

.workoutsection {
  background: linear-gradient(to bottom, #b5ffe1, #65b891);
  border: solid 2px var(--spinach);
  color: var(--spinach);
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipesection {
  background: linear-gradient(to bottom, #b5ffe1, #65b891);
  border: solid 2px var(--spinach);
  color: var(--spinach);
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workoutandrecipecards {
  display: flex;
  flex-direction: row;
}

.motivQuotes {
  color: var(--spinach);
  background: linear-gradient(to bottom, #b5ffe1, #65b891);
  border: solid 2px var(--spinach);
  margin-top: 30px;
  margin-bottom: 150px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motivQuotes h2 {
  text-align: center;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--leaf);
  padding: 15px;
  color: var(--guava);
}
