:root {
  --lettuce: #b5ffe1;
  --leaf: #93e5ab;
  --grass: #65b891;
  --guava: #4e878c;
  --spinach: #00241b;
}

main {
  background: linear-gradient(to bottom, #b5ffe1, #4e878c);
  color: ;
}
.header {
  background-color: var(--leaf);
  color: var(--spinach);
  height: 100px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
  top: -50px;
  margin: 10px;
}

.nav {
  color: var(--guava);
  margin: 5px;
}

#logo {
  width: 150px;
}

button {
  background-color: var(--leaf);
  color: var(--guava);
  width: 200px;
  height: 40px;
  margin: 15px;
}

button:hover {
  background-color: var(--grass);
  color: var(--lettuce);
}

.workoutsection {
  background-color: var(--lettuce);
  border: solid 4px var(--guava);
  margin-top: 30px;
  width: 50%;
  margin-right: 10px;
  padding: 10px;
   display: flex;
  flex-direction: column;
  align-items: center;
  
}

.recipesection {
  background-color: var(--lettuce);
  border: solid 4px var(--guava);
  margin-top: 30px;
  width: 50%;
  margin-left: 10px;
  padding: 10px;
   display: flex;
  flex-direction: column;
  align-items: center;
}

.workoutandrecipecards {
  display: flex;
  flex-direction: row;
}

.motivQuotes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--leaf);
  padding: 15px;
  color: var(--guava);
  
}
